@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-image: url(./images/spaceship-3537216_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: 'kanit',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(12px, 15vh, 20px);
    overflow: hidden;
}

@media only screen and (device-width: 480px) and (max-width: 480px){
    body {
        overflow: scroll;
    }
}

.calculator {
    width: clamp(250px, 40vw, 500px);
    height: clamp(400px, 60vw, 750px);
    margin: 10vh 0.5vw 10vh 0.5vw;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1rem;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2),
    -10px -10px 25px rgba(255, 255, 255, 0.2);
    display: grid;
    gap: 1rem 1rem;
}

.screen {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 90%;
    max-height: 100%;
    min-width: 100px;
    min-height: 50px;
    margin: 5% 5% 1% 5%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1rem;
    background-color: rgb(201, 201, 201);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5) inset,
    -5px -5px 15px rgba(255, 255, 255, 0.5) inset;
}

.button-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 90%;
    height: 80%;
    margin: 5%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 15%;
    margin: 2%;
    padding: 0;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1rem;
    background-color: rgb(201, 201, 201);
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5) inset,
    -2px -2px 15px rgba(0, 0, 0, 0.5) inset;
    font-family: 'kanit',sans-serif;
    font-size: clamp(12px, 15vh, 20px);
    cursor: pointer;
}

button:active{
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5) inset,
    -1px -1px 15px rgba(255, 255, 255, 0.5) inset !important; 
}

